:root{
    --background: background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    --accordion-item: #283042;
    --accordion-link: rgba(255,255,255,.8);
    --answer-color: #212838;
    --answer-sidebar: #8fc460;
    --answer-text: rgba(255,255,255,.6);
    --navbar-background:  #333;
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    box-sizing: border-box;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-title{
    font-weight: bold;
    color: #ff4b1f;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #1fddff, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: white;
    margin-top: 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    color: white;
    
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li{
    list-style: none;

}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;

    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    #icon{
        display: none;
    }
    
    .back-forward{
        display: none;
    }
    .title{
        display: none;
    }
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 50px auto;
    padding: 0 1.5rem;
}

.accordion-item{
    background-color: var(--accordion-item);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link{
    font-size: 1.6rem;
    color: var(--accordion-link);
    text-decoration: none;
    background-color: var(--accordion-item);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

}

.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link .add{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: var(--answer-color);
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: var(--answer-sidebar);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    

}

.answer p{
    font-size: 1.4rem;
    color: var(--answer-text);
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;

}

#userColor{
    text-align: center;
    color: white;
 }
 
 #change-it{
     cursor: pointer
 }
 
#userColor.dark{
    color: black;
}

#music{
    color: white;
    cursor: pointer;
}

#music-player{
   display: flex;
   justify-content: center;
   align-items: center;
}

#icon{
    width: 10%;
}

.back-forward{
    width: 5%;
}
/* .accordion-item:target .accordion-link .add{
    display: none;
} 

 accordion-item:target .accordion-link .remove{
    display: block;
}  */

